{% extends "chartbase.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    
    h1 {
        color: #333;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        background-color: #f5f5f5;
    }
</style>
<h1>List of Cooperative Banks</h1>
<table>
    <thead>
        <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>Address</th>
            <th>State</th>
            <th>District</th>
            <th>Registration Date</th>
            <th>Area of Operation</th>
            <th>Sector Type</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in banks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ entry.username }}</td>
            <td>{{ entry.registered_address }}</td>
            <td>{{ entry.state }}</td>
            <td>{{ entry.district }}</td>
            <td>{{ entry.date_joined|date:"F d, Y" }}</td>
            <td>{{ entry.area_of_operation }}</td>
            <td>{{ entry.society_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
